@import "../../../../styles/colors.module.scss";

.sectionTitle {
    font-size: 20px;
    font-weight: bold;
}
.slideSectionBtn{
    border-color: black;
}

.slideSectionBtn {
    &:hover{
        border-color: $lightOrange;
        background-color: transparent;
        color: $lightOrange;
    }
}